# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables & DB
.env
*.db
*.sqlite3

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Antigravity IDE
.antigravity/
